# ========================
# Python
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# ========================
# dbt
# ========================
dbt_packages/
target/
logs/

# local dbt profiles
.dbt/
profiles.yml

# ========================
# Airflow
# ========================
airflow/logs/
airflow/airflow.db

# ========================
# Data (DO NOT push raw data)
# ========================
data/raw/
data/processed/

# allow optional small samples only
# !data/sample/

# ========================
# Synthea (exclude completely)
# ========================
synthea/

# ========================
# OS / Editors
# ========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ========================
# Installers
# ========================
*.exe
*.msi

# ========================
# Secrets / Config
# ========================
.env
.env.*
*.pem
*.key
*.p8

# ========================
# Snowflake / credentials
# ========================
**/profiles.yml